
<div class="login-wrapper">
    <div class="card">
        <div class="card-body">
            <form class="form-signin" (ngSubmit)="onSubmit(signInForm)" #signInForm="ngForm">
                <!-- <img class="mb-4" src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
                <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

                <div class="form-floating">
                <input type="email" class="form-control" name="email" id="floatingInput" placeholder="Email Address" required autofocus ngModel>
                <label for="floatingInput">Email address</label>
                </div>
                
                <div class="form-floating">
                <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Password" required ngModel>
                <label for="floatingPassword">Password</label>
                </div>

                <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>


                <div class="alert alert-danger" role="alert" *ngIf="isFormValid">
                    Enter a valid e-mail address.
                </div>

                <div class="alert alert-danger" role="alert" *ngIf="areCredentailsInvalid">
                    Invalid user or password.
                </div>
                <!-- <p class="mt-5 mb-3 text-muted">&copy; 2020–2021</p> -->
            </form>
        </div>
    </div>
</div>

