

<div class="bg-light">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark" *ngIf="authenticationService.isAuthenticated">
      <div class="container-fluid">        
          <!-- <img src="assets/img/awswhite.png" routerLink="/home" width="80" height="40" class="me-3">   -->
          <img src="https://d0.awsstatic.com/logos/powered-by-aws-white.png" routerLink="/home" width="120" height="40" class="me-3">     
        <!-- <a class="navbar-brand" routerLink="/home">AWS</a> -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample04">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
            </li>
            <li class="nav-item">
              <!-- push ng g c new of the page that will create component then add routerLink and the address of the wevpage -->
              <a class="nav-link" href="#">ContactUs</a>  
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link disabled">Disabled</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
              <ul class="dropdown-menu" aria-labelledby="dropdown04">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li> -->
          </ul>
          <!-- <form>
            <input class="form-control" type="text" placeholder="Search" aria-label="Search">
          </form> -->
          <ul class="navbar-nav ml-auto">
            <li class="nav-item pointer">
              <button type="button" class="btn btn-primary" (click)="logout()" >Logout</button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
          <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
          <li><a href="#" class="nav-link px-2 text-white">About</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
        </form>

        <div class="text-end">
          <button type="button" class="btn btn-outline-light me-2">Login</button>
          <button type="button" class="btn btn-warning">Logout</button>
        </div>
      </div> -->

<router-outlet></router-outlet>
</div>